@model IEnumerable<FreebieBot.Models.User>
@{
    ViewBag.Title = "Users";
}
<table class="table">
    <tr><td>Id</td><td> Telegram Id</td><td> Name</td><td> Language</td><td> Pikabu</td></tr>
    @foreach (var item in Model)
    {
        <tr><td>@item.Id</td><td>@item.TelegramId</td><td>@item.Name</td><td>@item.Lang</td><td>@item.IsSubPikabu</td></tr>
    }
</table>