@model IEnumerable<FreebieBot.Models.Posts.Post>
@{
    ViewBag.Title = "Posts";
}
<a asp-action="TranslateAdd" class="btn btn-outline-info">Add translate</a>
<table class="table">
    <tr><td>ID</td><td> Name</td><td> Url</td><td> Type</td><td> DateTime</td></tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Url</td>
            <td>@item.Type</td>
            <td>@item.DateTime</td>
        </tr>
    }
</table>